.statistics {
  display: inline-block;
  box-shadow: 0px 0px 10px -1px;
  border-radius: 3px;
  overflow: hidden;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 25px 10px;
  color: #121212;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 67px;
  color: white;
}

.label {
  margin-bottom: 7px;
  font-size: 14px;
}
.percentage {
  font-size: 18px;
}
